<h1 class="text-lg text-center">New plant</h1>
<div class="m-10 max-w-2xl flex justify-center">
  <%= render "form", plant: @plant %>
</div>
<div class="mt-4 text-center">
  <%= link_to "Back to plants", plants_path, class: "text-blue-500 hover:text-blue-700" %>
</div>